/* h1 {
  border: 1px solid red;
}

h2 {
  border: 1px solid red;
}

p {
  border: 1px solid red;
}

div {
  border: 1px solid red;
}

img {
  border: 1px solid red;
} */

@font-face {
  font-family: 'Noto Sans';
  src: url(../fonts/noto-sans/NotoSans-Regular.ttf);
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Noto Sans';
  src: url(../fonts/noto-sans/NotoSans-Bold.ttf);
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: 'Recoleta';
  src: url(../fonts/recoleta/Recoleta-Bold.ttf);
  font-weight: 600;
  font-style: normal;
}

.page {
  min-width: 1100px;
  /* выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Noto Sans';
}

.title {
  font-family: Recoleta;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 65.25px;
  z-index: 1;
  margin: 0;
}

.subtitle {
  font-family: 'Noto Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  z-index: 1;
  margin: 0;
}

.title__theme_green {
  font-style: normal;
  font-weight: 600;
  font-size: 47px;
  line-height: 54px;
  color: #163A24;
}

.title__theme_white {
  font-style: normal;
  font-weight: 600;
  font-size: 47px;
  line-height: 54px;
  color: #FBFAF7;
}

.subtitle__theme_white {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  color: #FBFAF7;
}

.subtitle__theme_green {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  color: #163A24;
}

.text {
  font-family: Noto Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #163A24;
  margin: 0;
}

.link {
  font-family: Noto Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #198C36;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.table {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 1180px;
  margin: 0 auto;
}

.table__cell {
  width: 490px;
  margin: 0;
  align-items: center;
}

.table__img {
  margin: 0;
}

.table__text {
  margin: 0;
  width: 400px;
  margin: 0 auto;
}

.table__title {
  margin-bottom: 27px;
}

.table__subtitle {

}

.button {
  color: #FBFAF7;
  background: #198C36;
  border-radius: 160px;
  border: none;
  padding: 15px 25px;
  height: 52px;
  cursor: pointer;
}

.button_theme_green {

}
.button_theme_pink {
  background-color: #FAB5A0;
}

.button_theme_pink:hover {
  text-decoration: underline;
  background-color: grey;
}

.button_theme_green:hover {
  text-decoration: underline;
  background-color: grey;
}

.button_theme_white:hover {
  text-decoration: underline;
  background-color: green;
}

.header__menu {
  background-color: #163A24;
  padding: 0 130px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 98px;
}

.logo {
  background-image: url(../img/logo.svg);
  background-size: contain;
  width: 153px;
  height: 58px;
}

.header__logo {}

.header__menu-links {}

.header__menu-link {
  color: #FBFAF7;
  text-decoration: none;
  margin-right: 24px;
}

.header__menu-link:hover {
  text-decoration: underline;
}

.header {
  min-height: 544px;
  padding: 0 130px;
  background-color: #163A24;
  color: #FBFAF7;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.header__title {
  color: #FBFAF7;
  width: 391px;
  height: 196px;
  margin: 0;
  margin-bottom: 18px;
  padding: 0;
}

.header__subtitle {
  color: #FBFAF7;
  width: 475px;
  height: 81px;
  margin: 0;
  padding: 0;
}

.header__main-image {
  position: absolute;
  width: 738px;
  height: 545px;
  bottom: 0;
  right: 80px;
}

.motivation {
  padding: 120px 0;
}

.motivation__partners {
  padding-top: 110px;
  margin: 0 auto;
  width: 984px;
}

.motivation__partners-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

.motivation__title_partners_center {
  text-align: center;
  margin-bottom: 66px;
}

.production {
  background: #163A24;
  padding-top: 66px;
  padding-bottom: 140px;
}

.production__title {
  color: #FBFAF7;
  text-align: center;
  line-height: 54px;
  margin: 0;
  margin-bottom: 74px;
}

.production__table {
  margin: 0 auto;
  display: flex;
  width: 1180px;
  justify-content: space-between;
}

.production__table-cell {
  margin: 0 auto;
  text-align: center;
}

.production__img {
  margin-bottom: 28px;
}

.production_subtitle {
  color: #FBFAF7;
}

.employees {
  text-align: center;
  padding-top: 114px;
  min-height: 675px;
  background-color: #F2EFE6;
}

.employees__title {
  width: 740px;
  margin: auto;
  margin-bottom: 28px;
}

.employees__subtitle {
  margin: auto;
  width: 760px;
}

.employees__img {
  min-width: 1180px;
  min-height: 335px;
}

.scenes {
  padding: 180px 0 120px 0;
  margin: 0 auto;
}

.scenes__title {
  width: 740px;
  margin: 0 auto;
  text-align: center;
  margin-top: 114px;
  margin-bottom: 26px;
}

.scenes__subtitle {
  width: 344px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 18px;
}

.scenes__items {
  display: flex;
  width: 1180px;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: space-between;
}

.scenes__item {
  flex-basis: 354px;
  height: 394px;
  padding: 50px 20px 66px 40px;
  box-sizing: border-box;
  background: #FBFAF7;
  box-shadow: 5px 5px 20px #E9E4D5;
  border-radius: 15px;
}

/* .scenes__item:hover {
  flex-basis: 354px;
  height: 430px;
  margin: 0;
  padding: 50px 20px 50px 40px;
  box-sizing: border-box;
  background: #FBFAF7;
  box-shadow: 5px 5px 20px #E9E4D5;
  border-radius: 15px;
} */

.scenes__item-img {
  margin-bottom: 20px;
}

.scenes__item-title {
  font-size: 28px;
  line-height: 31px;
  margin-bottom: 24px;
}

.scenes__item-list {
  margin: 0;
  padding-left: 25px;
  font-size: 16px;
  line-height: 22px;
}

.scenes__list-item {
  margin: 15px 0;
}

.easy {
  background: #F2EFE6;
  padding-top: 114px;
  padding-bottom: 124px;
  text-align: center;
}

.easy__title {
  width: 360px;
  margin: 0 auto;
  margin-bottom: 24px;
}

.easy__subtitle {
  width: 527px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.easy__steps {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1180px;
  margin: 0px auto;
  padding: 45px 0;
  text-align: center;
}

.easy__step {
  margin-right: 30px;
}

/* не получилось установить фоном изображение как на макете */
/* .easy__step-background {
  background-image: url(../img/easy-step.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 285px;
  height: 180px;
} */

.easy__step-subtitle {
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 13px;
}

.easy__step-title {
  font-size: 28px;
  line-height: 31px;
}

.easy__step-img {

}

.easy__button {
  margin-top: 46px;
}

.resource {
  margin: 0 auto;
  width: 1180px;
  padding-top: 130px;
  padding-bottom: 135px;
  justify-content: space-between;
}

.get-started {
  background-color: #163A24;
  position: relative;
  min-height: 416px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.get-started__title {
  margin-bottom: 26px;
}

.get-started__subtitle {
  margin-bottom: 18px;
}

.get-started__img_plnat-one {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.get-started__img_plnat-two {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.update {
  background-color: #F2EFE6;
  padding: 60px 0;
}

.update__columns {
  display: flex;
  justify-content: space-between;
  margin-top: 54px;
  width: 1180px;
  margin: 0 auto;
}

.update__column {
  display: flex;
  flex-direction: column;
}

.update__column_content_text {}

.update__title {
  margin-bottom: 25px;
}

.update__subtitle {}

.update__column_content_form {
  flex-basis: 590px;
}

.update__form {
  margin-bottom: 12px;
}

.update__form-input {
  background: #FFFFFF;
  border: 1px solid #F2EFE6;
  box-sizing: border-box;
  border-radius: 255px;
  border: none;
  padding: 15px 25px;
  height: 52px;
  min-width: 460px;
  margin: 0;
}

.update__form-button {
  margin-left: -40px;
}

.update__text {
  margin: 0;
}

.footer {
  padding: 46px 0;
}

.footer__rows {
  width: 1180px;
  margin: 0 auto;
}

.footer__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__row_heading {}

.footer__logo {}

.logo__footer {
  background-image: url(../img/logo_footer.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 110px;
  height: 42px;
}

.footer__title {
  font-family: Recoleta;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #163A24;
}

.footer__socials-icons {
  list-style: none;
}

.footer__list {
  display: inline;
  margin-right: 14px;
}

.footer__social-icon {

}

.footer__line {
  border: 1px solid #F2EFE6;
  margin-bottom: 25px;
}

.footer__row_copyright-links {}

.footer__text {}

.footer__links {
  margin: 0;
}
